<div class='app-header'>
    <span class='app-header_title'>Zbay</span>
    <span class='app-header_title app-header_title--small'> like ebay, but cheaper!</span>
    <mat-icon
       matTooltip="Return to home page" 
       routerLink="/products" 
       class='app-header_icon'>
       home
    </mat-icon>
    <mat-icon  
      matTooltip="Add product" 
      routerLink="/add-product" 
      class='app-header_icon app-header_icon--farther'>
      add
    </mat-icon>

</div>

<div class="products-wrapper">
    <router-outlet></router-outlet>
</div>