<div class="product-container"  *ngIf="product">
  <img class='product-image' [src]="product.imageUrl" [alt]="product.name">
    <div class="product-details">
      <div class="product-details_title">{{product.title}}</div>
      <div class="product-details_description">
        {{product.description}}
      </div>
    </div>
</div>

<div class="product-container product-container--small"  *ngIf="product">
  <div class="horizonal-center">
      <div class="product-location">Location: {{product.location}}</div>
      <div class="product-price">Price: {{product.price | currency}}</div>
      <button mat-fab class="product-buy-btn">Buy</button>

  </div>
</div>